__pycache__/
*.pyc
*.pyo
build/
_build/
_temp/
dist/
data/
backups/
logs/
config/
*.db
*.xlsx
*.log
*.exe
*.dat
*.txt
!LICENSE.txt
!README.txt
!requirements.txt
maintest.txt
modules/
tests/
installer/*.exe
accounting_app/
